<div class="jumbotron">
  <h1 class="title">中国茶城 </h1>
  <p class="slogan">美丽的中国茶城 咖啡之都求贤若渴
    <br />
      滇西南的一片净土 生态宜居之城
    <br />

  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">搜索职缺</a><!--primary蓝 danger红-->
  </p>
</div>

<section id="company">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail" >
          <div class="caption">
            <h3>北京</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail" >
          <div class="caption">
          <h3>dd</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
       <div class="thumbnail">
        <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail" >
        <div class="caption">
        <h3>dd</h3>
      </div>
      </div>
    </div>
   </div>
  </div>
</section>
