<div class="jumbotron">
  <h1 class="title">普洱</h1>
  <p class="slogan">美丽的中国茶城 咖啡之都求贤若渴
    <br />
      滇西南的一片净土 生态宜居之城
    <br />

  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">搜索职缺</a>
  </p>
</div>

<div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">春暖花开的四季</h2>
          <p class="lead">高效工作 刻意精进</p>
        </div>
        <div class="col-lg-6 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">体现个人价值与竞争力的同时</h2>
          <p class="lead">将收获淳朴的民风</p>
        </div>
        <div class="col-lg-6 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic-2.jpg', class: 'img-responsive'  %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h1 class="section-heading">沙漠与绿洲</h1>
          <p class="lead">若心已定 无需抉择</p>
        </div>
        <div class="col-lg-6 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ooo.0o0.ooo/2017/04/24/58fd74c2ce458.png" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>info@workinpuer.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ooo.0o0.ooo/2017/04/24/58fd74c26a4ae.png" alt="bid" class = "img-thumbnail">
            <div class="caption">
              <h3>云南省普洱市</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ooo.0o0.ooo/2017/04/24/58fd7419ee6db.png" alt="heart" class = "img-thumbnail">
            <div class="caption">
              <h3>010-12344321</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
