/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import url(http://fonts.googleapis.com/css?family=Roboto);
/*** footer置底 ***/

 html {
    position: relative;
    min-height: 100%;
  }

  body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
  }

  /*********** 导航栏 **************/

  .navbar-default {
    background-color: #757575;//背景颜色
    border-color: #9E9E9E; //边框色
    margin-bottom: 0;

  }

  @media (min-width: 768px) {
     .navbar {
       border-radius: 0; //圆角为0
     }
   }

  .navbar-default .navbar-brand {
    color: #EEEEEE; //字体颜色

    padding: 10px 15px; //上下10px, 左右15px
    line-height: 30px; //文章行高
  }

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #BBDEFB; //鼠标放在连接上的文章颜色

    background-color: transparent; //鼠标放置在连接上的背景颜色，这里设为透明
  }

  .navbar-default .navbar-nav > li > a{
    color: #EEEEEE;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #BBDEFB;

    background-color: transparent;
  }

  .navbar-default .navbar-nav > .active > a,
   .navbar-default .navbar-nav > .active > a:hover,
   .navbar-default .navbar-nav > .active > a:focus {
     color: #FF5722;

     background-color: #FF5722;
   }

   .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav > .open > a:hover {
      background-color: transparent;

      color: #EEEEEE;//点击下拉菜单的颜色

    }

    .navbar-brand > img {
      display: inline-block; //图片和链接文字显示在同一行
      margin-right: 15px; //图片和链接文字拉开一点点距离
      margin-bottom: 5px;
      width: 35px;//制定图片宽度
      height: 30px;//制定图片高度
    }


//-- welcome/index 中间部分
.thumbnail{
  border-color: #EEEEEE;//边框透明
  background-color: #EEEEEE;
  text-align: center;
}
.thumbnail img{
  width: 40%;

}

.thumbnail1{
  text-align: center;
  background-color: #FAFAFA;
}
.thumbnail1 img{
  width: 20%;

}

.caption{
  margin-top: 60px;

}





//---------Footer---------

.footer {
  position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    background-color: #757575;

    p {
    color: white;
    margin-top: 30px;
  }
}




/****** 注册登录弹窗系统 ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;//宽度
  width: 100% !important;
  background-color: rgba(250, 250, 250, 0.39);
  margin: 0 auto;
  border-radius: 2px;//边框圆角
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;//scroll卷  visible可见的
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: relative;
}

.loginmodal-container input[type=submit] {
  width: 100%;//按钮宽度
  display: block;
  margin-bottom: 10px;//按钮底部边框的宽度
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;//password输入框的宽度
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;//输入框的底色
  border: 1px solid #d9d9d9;//输入框边框颜色
  border-top: 1px solid #c0c0c0;//输入框上边框颜色，用来覆盖上面的边框颜色
  /* border-radius: 2px; */
  padding: 0 8px;//输入框上下0，左右长度为8px
  box-sizing: border-box;
  -moz-box-sizing: border-box;

}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;//鼠标移到输入框时，边框的颜色
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/** 下面的有什么用？ **/
.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* border-radius: 3px; */
 /* -webkit-user-select: none;
 user-select: none; */
}

.loginmodal-submit {
  /* border-radius: 3px; */
  border: 0px;
  color: #D84315;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #D84315;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */

}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #D84315;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #D84315;//red
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacify ease 0.5s;
}

.login-help {
  font-size: 12px;
}



/** 工作列表按钮样式 **/

.custab {
  border: 0px solid #ccc;//边框

  padding: 2px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;//表格阴影

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

/** 分页按钮样式 **/

.pagination>li>a, .pagination>li>span { border-radius: 20% !important;margin: 0 5px;}



  /*********common*******/
.col-centered {
       float: none;
       margin: 0 auto;
}
